@use "../../sass/Utils/Variables.scss";

.hero {
  position: relative;
  width: 100%;

  .heroBanner {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: 0% 37%;
  }
}

.heroTxt {
  position: absolute;
  top: 25%;
  right: 5%;
  text-align: left;
  background: Variables.$secondaryColor;
  padding: 20px;
  border-radius: 8px;
  max-width: 420px;

  .subtitle {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
  }

  .text {
    font-size: 1.5em;
    margin-top: 8px;
    line-height: 1.4;
  }
}
