@use "../../sass/Utils/Variables.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.navSign {
  margin-right: 1rem;
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: Variables.$thirdColor;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
  }
}

.navLogo {
  color: Variables.$thirdColor;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
.navLogo img {
  width: 200px;
  max-width: 100%;
}

.faCircleUser {
  font-size: 1.6em;
  padding-right: 0.5em;
}
